@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  .dark {
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
    padding: 0 !important;
  }
}

* {
  outline: none;
  padding: 0;
  margin: 0;
}

html,
body,
#app {
  height: 100%;
  /* background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground); */

  color: hsl(var(--foreground));
  background-color: hsl(var(--background)) !important;
  pointer-events: auto !important;
  user-select: auto !important;
}

a:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none !important;
}

pre.shiki {
  background-color: hsl(var(--background)) !important;
  padding: 16px;
  white-space: break-spaces;
}

pre.shiki > code {
  border-radius: 0;
  background-color: transparent;
}

span.languageLabel {
  top: 16px;
  right: 16px;
}

.custom-checkbox {
  -webkit-appearance: none;
  outline: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 1px solid hsl(var(--input));
  border-radius: 4px;
  background-color: hsl(var(--background));
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

.custom-checkbox:checked {
  background-color: hsl(var(--primary));
  border-color: hsl(var(--primary));
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 1px;
  width: 5px;
  height: 9px;
  border: solid hsl(var(--primary-foreground));
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox:indeterminate {
  background-color: hsl(var(--background));
  border-color: hsl(var(--primary));
}

.custom-checkbox:indeterminate::after {
  content: '';
  position: absolute;
  left: 3px;
  top: 6px;
  width: 8px;
  height: 2px;
  background-color: hsl(var(--primary));
}

.editor-code {
  background-color: #f6f8fa;
  font-family: monospace;
  padding: 8px;
  margin: 8px 0;
  border-radius: 4px;
}

.editor-text-code {
  background-color: #f6f8fa;
  padding: 2px 4px;
  border-radius: 3px;
  font-family: monospace;
}

.editor-input.dragging {
  border: 2px dashed hsl(var(--primary));
  background-color: hsl(var(--primary) / 0.1);
}
