@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  .dark {
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
    padding: 0 !important;
  }
}

* {
  outline: none;
  padding: 0;
  margin: 0;
}

html,
body,
#app {
  height: 100%;
}

a:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none !important;
}

.editor-code {
  background-color: #f6f8fa;
  font-family: monospace;
  padding: 8px;
  margin: 8px 0;
  border-radius: 4px;
}

.editor-text-code {
  background-color: #f6f8fa;
  padding: 2px 4px;
  border-radius: 3px;
  font-family: monospace;
}
